.accountprompt {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}
.modal-content {
    position: fixed;
    top: 76px; /* Space from the top */
    right: 10px; /* Align to the right */
    background-color: #2a242f;
    margin: 0; /* Remove any default margin */
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.modal-content * {
    margin-top: 3px;
    margin-bottom: 3px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #473d4f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 200ms;
    box-shadow: 0px 4px 0px #3a3241;
}

.login-btn:hover {
    background-color: #5f4078;
    box-shadow: 0px 4px 0px #523768;
}

.account-edit-entry__drop-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, var(--bg-opacity));
    color: #fff;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all .12s;
    width: 100%;
    --bg-opacity: 0;
}

.account-edit-entry__overlay-spinner {
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    display: inline-flex
;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .12s;
    width: 100%;
}

.avatar {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-color: #333;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    display: block;
    flex: none;
    height: 70px;
    margin: 0;
    outline: none;
    padding: 0;
    width: 70px;
}

.avatar--full-rounded {
    box-shadow: none;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.account-edit-entry__avatar {
    border-radius: 4px;
    height: 128px;
    margin-bottom: 10px;
    overflow: hidden;
    transform: translateZ(0);
    width: 128px;
}
.fileupload {
    cursor: pointer;
    height: 300%;
    opacity: 25;
    position: absolute;
    right: 0;
    top: 0;
    width: 300%;
}