.downloadbutton{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Comfortaa';
    font-weight: bold;
    border: none;
    color: white;
    font-size: 15px;
    transition-duration: 200ms;
}
.downloadbutton:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}
.beatmapbutton{
    background-color: #79637f;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Comfortaa';
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 0px rgba(252, 252, 252, 0);
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 200ms;
}
.beatmapbutton:hover{
    cursor: pointer;
    background-color: #99879e;
    box-shadow: 0px 4px 0px rgba(252, 252, 252, 0);
}
.beatmapbutton:focus{
    cursor: pointer;
    background-color: #4d9bb0;
    box-shadow: 0px 4px 0px rgba(252, 252, 252, 0);
}